body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.pearson-users > h1 {
	color: #007FA3;
	font-size: 36px;
	padding: 10px 50px;
}

.pearson-users .user-list {
	background-color: #D8D8D8;
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
}

.pearson-users .user-avatar {
	border-radius: 50%;
	width: 80px;
	position: absolute;
	top: -40px;
    left: 50%;
    margin-left: -40px;
}

.pearson-users .user-profile {
	position: relative;
	background-color: #FFFFFF;
	width: 212px;
	margin: 40px 18px;
	text-align: center;
	padding-top: 40px;
}

.pearson-users .user-name {
	color: #E93939;
	font-size: 18px;
}

.pearson-users .user-delete-btn {
	color: #007FA3;
	font-size: 14px;
	border: none;
	cursor: pointer;
	display: block;
    margin: 5px;
}
